<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>my_irc</title>
    <style>
        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>
</head>

<body>
    <div style="margin: 0 auto; width: 50%;">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">my_irc</h3>
            </div>
            <div class="card-body">
                <form action="" class="form">
                    <div class="form-group row">
                        <label for="msg" class="col-3 col-form-label">Message</label>
                        <div class="col-6">
                            <input type="text" id="msg" name="msg" autocomplete="off" class="form-control">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Messages</h3>
            </div>
            <div class="card-body">
                <ul class="list-group" id="messages"></ul>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        $('form').submit((e) => {
            e.preventDefault();
            socket.emit('chat message', $('#msg').val());
            $('#msg').val('');
        });
        socket.on('chat message', (data) => {
            $('#messages').append('<li class="list-group-item">' + data + '</li>');
        });
    </script>
</body>

</html>